body {
    /*background: url("./images/Planting-Date-Calculator.png") no-repeat;
    background-size: 100% auto;*/
    background-color: #3367cd;
}
#overall  {
  padding-top: 10px;
}
#bottomVeggies  {
  display: none
}
#logo  {
  width: 60%;
  margin:0 auto;
}
img{
  display:block;
  margin:auto;
}
.vegImage {
  display:block;
  width: 60%;
  height:auto;
  margin-right: 0;
}
.vegImageRight {
  display:block;
  width: 60%;
  height:auto;
  margin-left: 0;
}
h5{
  margin: 4px;
}
#daysDisplay {
  font-style: normal;
  font-weight: bold;
  border:none;
  text-align: center;
  width:25%;
  font-size: 2em
}
#c1 {
 background-color: #c4d3f2;
 text-align: center;
}
#c2 {
  background-color: #c4d3f2;
  margin-top: 30px;
  /*width:30%;*/
}
#c3 {
  /*background-color : yellow;*/
  /*width:30%;*/
}
#c4 {
  text-align: center;
  /*width:30%;*/
}
.box  {
  width:85%;
  margin-bottom: 15px;
  background-color: #c4d3f2;

}
md-icon {
  width:28px;
  height: 28px
}
md-datepicker {
    position: relative;

    .md-datepicker-input-container{
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
  }
  .datepicker-container{
    width:100%;
  text-align:center;
}
.datepicker-center{
  display:inline-block;
  margin:0 auto;
}

.vegImageBottom {
  display:block;
  width: 80%;
  height:auto;
  margin-top: 0;
}

@media only screen and (min-width: 960px) {
  #logo  {
    width: 70%;
    margin:0 auto;
  }
  .md-datepicker-input  {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 700px) {
  .md-datepicker-input  {
    font-size: .7em;
  }

}
@media only screen and (min-width: 600px) {
  .md-datepicker-input  {
    font-size: .7em;
  }
  .box  {
    width:100%;
  }
}
@media only screen and (max-width: 599px) {
  #logo  {
    width: 100%;
    margin:0 auto;
  }
  .veggies {
      display: none
    }
    #bottomVeggies  {
      display:flex;
    }
  h5  {
    font-size: 1.2em;
  }
  .md-datepicker-input  {
    font-size: 1.2em;
  }
  #c2 {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1100px) {
  .md-datepicker-input  {
    font-size: 1.8em;
}
@-webkit-keyframes pulse {
  from {
    background-color: white; }
  to {
    background-color: rgba(51, 122, 183, 0.5); } }

@keyframes pulse {
  0% {
    background-color: white; }
  50% {
    background-color: rgba(51, 122, 183, 0.5); }
  100% {
    background-color: white; } }

.usePulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;;
  animation-timing-function: linear; }
